<kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="smallLoaderValue"></kd-progressloader>

<kd-filter [inputData]="filterInputs" (valueUpdate)="detectValue($event)" #filters></kd-filter>

<kd-table
  [config]="tableConfig"
  [column]="tableColumns"
  [row]="tableRows"
  [api]="tableApi"
  *ngIf="showTable"
></kd-table>
