<kd-progressloader  configtype="small-spinner" [configvalue]="_smallLoaderValue" *ngIf='loading' ></kd-progressloader>

<kd-table [row]='_row' [column]='tableColumns' [config]='tableConfig' [api]='_tableApi' *ngIf='!loading' ></kd-table>