<kd-progressloader *ngIf="!loading" configtype="small-spinner" [configvalue]="_smallLoaderValue"></kd-progressloader>

<kd-view displayType='form' [inputData]='_questionBase' [button]='_formButtons' [api]='api'
  (detectFrom)='detectValue($event)' (submitEvent)='submitVal($event)' (resetEvent)="reset()" *ngIf="!isValues" > 
</kd-view>  