<kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="_smallLoaderValue"></kd-progressloader>

<kd-filter [inputData]="inputs" (valueUpdate)="detectValue($event)" #filters></kd-filter>

<kd-table [config]="tableConfig" [api]="tableApi" [column]="tableColumns" *ngIf="showTable"></kd-table>
