<kd-filter #searchForm [inputData]="inputs" (valueUpdate)="detectValue($event)"></kd-filter>

<kd-tabs [config]="tabsListHtml" type="html" (activeState)="selectedTab($event)" *ngIf="!IsTabActive">
  <kd-table [row]="_row" [column]="tableColumns" [config]="tableConfig" [api]="_tableApi" *ngIf="!loading"></kd-table>
</kd-tabs>
