<!-- <div class='main-wrapper'>
    <div class='content-wrapper'>
      <kd-breadcrumb [config]='breadcrumbList'></kd-breadcrumb>
      <kd-pageheader [config]='pageheader' [api]='pageHeaderApi'></kd-pageheader>
      <div class='content-area'>
        <div class='content'>
        </div>
        <kd-footer enableFloat='true'></kd-footer>
      </div>
    </div>
  </div> -->
<router-outlet></router-outlet>
