<!-- <kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="smallLoaderValue"></kd-progressloader>

<kd-filter #searchForm [inputData]="inputs" (valueUpdate)="detectValue($event)"></kd-filter>

<kd-table [config]="tableConfig" [api]="tableApi" [column]="tableColumns" *ngIf="showTable"></kd-table> -->
