<kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="smallLoaderValue"></kd-progressloader>

<kd-filter [inputData]="inputs" (valueUpdate)="detectValue($event)" #filters></kd-filter>

<kd-table [config]="tableConfig" [column]="tableColumns" [api]="tableApi" *ngIf="showTable"></kd-table>
