<kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="smallLoaderValue"></kd-progressloader>

<div class="main-wrapper">
  <div class="content-wrapper">
    <kd-breadcrumb [config]="breadcrumbList"></kd-breadcrumb>
    <kd-pageheader [config]="pageHeader" [api]="pageHeaderApi"></kd-pageheader>
    <div class="content-area">
      <div class="content">
        <kd-view
          displayType="form"
          [inputData]="questionBase"
          [api]="api"
          [button]="formButtons"
          (submitEvent)="submit($event)"
          (resetEvent)="cancelAction()"
          (detectFrom)="detectValue($event)"
          *ngIf="showForm"
        ></kd-view>
      </div>
      <kd-footer enableFloat="true"></kd-footer>
    </div>
  </div>
</div>
