<div class='main-wrapper'>
  <div class='content-wrapper'>
    <kd-breadcrumb [config]='breadcrumbList'></kd-breadcrumb>
    <kd-pageheader [config]='pageheader' [api]='pageHeaderApi'></kd-pageheader>
    <div class='content-area'>
      <div class='content'>
        <!-- Content Here -->
        <router-outlet></router-outlet>
      </div>
      <kd-footer enableFloat='true'></kd-footer>
    </div>
  </div>
</div>