<!-- <kd-progressloader *ngIf="!isValues" configtype="small-spinner" [configvalue]="_smallLoaderValue"></kd-progressloader> -->

<kd-view displayType='form'
 [inputData]='_questionBase'
  [api]='api'  
  [button]='formButton' 
  (submitEvent)="submitEvent($event)"
  (gridButtonClicked)='_detectGridButton($event)' (resetEvent)='reset()' *ngIf="!isValues" ></kd-view>