<kd-progressloader *ngIf="loading" [configvalue]="_smallLoaderValue" configtype="small-spinner"></kd-progressloader>
<div class="main-wrapper">
  <div class="content-wrapper">
    <kd-breadcrumb [config]="breadcrumbList"></kd-breadcrumb>
    <kd-pageheader [config]="pageheader" [api]="_pageHeaderApi"></kd-pageheader>
    <div class="content-area">
      <div class="content">
        <kd-table
          [config]="tableConfig"
          [row]="_row"
          [api]="_tableApi"
          [column]="tableColumns"
          *ngIf="showTable"
        ></kd-table>
      </div>
    </div>
  </div>
</div>
