<kd-splitter
  class="has-page-header has-breadcrumb"
  floatbtn="true"
  collapsible="true"
>
  <kd-progressloader
    *ngIf="loading"
    configtype="small-spinner"
    [configvalue]="_smallLoaderValue"
  ></kd-progressloader>
  <kd-pane>
    <div class="main-wrapper">
      <div class="content-wrapper">
        <div class="content-area">
          <div class="content">
            <ng-content select="[splitter-main-pane-top]"></ng-content>
            <kd-table
              [config]="tableConfig"
              [api]="_tableApi"
              [column]="tableColumns"
              *ngIf="!Isvalue"
            ></kd-table>
            <ng-content select="[splitter-main-pane-bottom]"></ng-content>
          </div>
        </div>
      </div>
    </div>
  </kd-pane>
  <kd-pane size="60%" min="15%" max="35%" show="true">
    <div class="main-wrapper">
      <div class="content-wrapper">
        <div class="content-area">
          <div class="content">
            <div class="split-content-header ng-scope">
              <div class="kdx-split-header-container">
                <h3>Advance Search</h3>
                <div class="split-content-btn">
                  <button
                    href="#"
                    class="btn btn-outline"
                    (click)="closeSearch()"
                  >
                    <i class="fa fa-close fa-lg"></i>
                  </button>
                </div>
              </div>
              

              <div class="kdx-splitter-content margin-bottom30">
                <kd-view
                displayType="form"
                id="advance-search"
                [inputData]="formData"
                [button]="_formButtons"
                [api]="api"
                (detectFrom)="getTriggerInput($event)"
                (submitEvent)="formSubmitVal($event)"
                (resetEvent)="reset()"
                *ngIf="showSearch"
              ></kd-view>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </kd-pane>
</kd-splitter>
