@charset "UTF-8";

@import "../general/variables.scss";
@import "../general/classes.scss";

/* Table V1.1.1 */

.kdx-table,
.kdx-multiselect-table {

    .grid-btn-wrapper {
        .btn.btn-icon {
            margin-top: $noMargin;
        }
    }

    .kdx-ag-grid-wrapper {
        position: relative;
    }

    .stg-theme {
        background: $whiteColor;
        border: $lightGreyBorder !important;
        clear: both !important;
        border-radius: 3px;
        overflow: hidden;
        width: 100%;
        min-height: 200px;
        z-index: 2;
        transform: translateZ(0);

        &.ag-row-clickable {
            .ag-row-hover,
            .ag-row-even.ag-row-selected.ag-row-hover,
            .ag-row-odd.ag-row-selected.ag-row-hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.1) !important;
            }
        }

        .ag-root {
            border: 0 !important;
            font-size: $bodyTextSize;
        }

        .ag-header {
            background-color: rgba(204, 204, 204, 0.2);
            box-shadow: inset 0 1px 0 $whiteColor;
            border-bottom: $lightGreyBorder;

            .ag-header-cell-resize {
                background-color: transparent;
                position: relative;
                z-index: 200;
            }

            .ag-header-cell {
                border-right: $lightGreyBorder;

                .ag-header-cell-label {
                    height: 40px;
                    text-shadow: 1px 1px 0px $whiteColor;
                    font-weight: bold;
                    text-align: left;
                    padding: $padding10 $padding35 $padding10 $padding10;
                    cursor: pointer;
                    line-height: normal;
                    display: flex;
                    margin-left: $margin5;

                    .ag-header-cell-text {
                        @extend .ellipsis;

                        vertical-align: middle;
                        order: 2;
                        width: 100%;
                    }

                    .header-icon {
                        color: #999;
                        margin: $noMargin $margin5;

                        .ag-sort-ascending-icon::after,
                        .ag-sort-descending-icon::after,
                        .ag-sort-none-icon {
                            vertical-align: middle;
                        }
                    }
                }

                .ag-header-cell-menu-button {
                    background-color: #F6F6F6;
                    text-align: center !important;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    line-height: 14px !important;
                    padding: $padding10 !important;
                    margin: $noMargin !important;
                    z-index: 1;

                    &:hover {
                        background: #EEE;
                        border-color: transparent !important;
                        border-radius: 0 !important;
                        cursor: pointer;
                    }
                }

                .ag-header-icon {
                    fill: #555 !important;
                    color: #555 !important;

                    padding: $noPadding $padding5 $noPadding $noPadding;
                }

                .ag-filter-icon {
                    display: none !important;
                }

                .kdx-ag-checkbox-radio {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;

                    .selection-wrapper {
                        width: 18px;
                        height: 18px;

                        input {
                            display: block;
                        }

                        label {
                            padding: $noPadding !important;
                            margin: $noMargin !important;
                        }
                    }
                }
            }

            [colid="checkbox"] {
                .selection-wrapper.select-all {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 7px 11px;
                }
            }
        }

        .ag-row {
            border-bottom: $lightGreyBorder;

            .ag-cell {
                display: flex;
                align-items: center;
                padding: $padding10 !important;

                &.ag-checkbox-radio {
                    justify-content: center;
                }

                &.normal-cell,
                &.ag-checkbox-radio {
                    padding-top: 16px !important;
                }

                .selection-wrapper {
                    width: 18px;
                    height: 18px;

                    label {
                        margin: $noMargin !important;
                        padding: $noPadding !important;
                    }
                }

                .ag-group-expanded,
                .ag-group-contracted {
                    font-size: $textSizeS;
                    cursor: pointer;
                }
            }

            &.ag-row-odd {
                background-color: $whiteColor;

                &.ag-row-selected {
                    background-color: #F0FBFF !important;
                }
            }

            &.ag-row-even {
                &.ag-row-selected {
                    background-color: #F0FBFF !important;
                }
            }

            .ag-stub-cell {
                .ag-loading-icon {
                    .ag-icon-loading {
                        background: none;
                        // color: #333;
                        // border-left: 2px solid #bbb;
                        // border-right: 2px solid #bbb;
                        // border-bottom: 2px solid #bbb;
                        // border-radius: 100%;
                        // animation: rotating 2s linear infinite;
                    }
                }
                .ag-loading-text {
                    font-size: 0;
                }
            }
        }

        .ag-floating-bottom {
            .ag-row {
                background-color: #F9F9F9;
            }
        }

        .ag-floating-top {
            .ag-row {
                background-color: #F9F9F9;
            }
            .ag-cell {
                &:first-child {
                    z-index: 1;
                }
            }
        }

        .ag-cell-focus,
        .ag-cell-no-focus {
            outline: 0 !important;
            border-top: 0 !important;
            border-right: 1px dotted #DFDFDF !important;
        }

        .ag-pinned-right-header {

            &,
            .ag-cell-first-right-pinned {
                border-left: 0 !important;
            }

            .ag-header-cell {
                border-left: $lightGreyBorder !important;
                border-right: 0 !important;
            }
        }

        .ag-pinned-right-cols-container {
            .ag-cell {
                border-left: $lightGreyBorder !important;
                border-right: 0 !important;
            }
        }

        .ag-pinned-left-header {
            .ag-header-cell {
                border-right: $lightGreyBorder !important;
            }
        }

        .ag-pinned-left-cols-container {
            .ag-cell {
                border-right: $lightGreyBorder !important;
            }
        }


        .ag-pinned-left-floating-top {

            .ag-row {
                &:first-child {
                    width: 100% !important;
                    padding-right: 40px !important;
                    z-index: 2;

                    .ag-cell {
                        width: 100% !important;
                        padding-right: 40px !important;
                        z-index: 2;
                    }
                }
            }
        }

        .ag-cell-edit-input {
            background-color: #FFF9CA;
            border: 0;
            position: absolute;
            top: 3px;
            left: 3px;
            right: 0;
            bottom: 0;
            width: 97%;
            height: 30px;
            padding: $padding5;
        }

        .oe-cell-highlight {
            background-color: #FFF9CA !important;
            border-color: transparent;
        }

        .oe-cell-editable {
            background-color: #FFF9CA;
            border: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 36px;
            padding: $padding10;

            &.oe-select-wrapper:after {
                font-family: $fontAwesome;
                font-size: $iconSizeS;
                color: #555;
                margin-right: $margin10;

                content: "\f0d7";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            select {
                background-color: #FFF9CA;
                border: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 36px;
                padding: $padding10;
            }
        }


        .ag-menu {
            background-color: $whiteColor !important;
            border: $greyCBorder !important;
            border-radius: 5px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            font-size: $textSizeXS !important;
            cursor: default;
            z-index: 4;

            .ag-filter {

                .ag-filter-select {
                    border-bottom: $lightGreyBorder;
                    border-radius: 0;
                    border: 0;
                    margin: $noMargin $noMargin $margin5;
                }

                select {
                    appearance: auto !important;
                }
            }

            .ag-filter-filter {
                border: $greyCBorder;
                border-radius: 3px;
                width: 192px !important;
                padding: $padding5;
                margin: $margin10 !important;
            }

            .ag-filter-header-container {
                border-bottom: $lightGreyBorder;

                label {
                    font-weight: normal;
                    position: relative;
                    color: #999;
                    margin: $noMargin;
                    width: 100%;

                    &:hover {
                        color: #6B6B6B;
                    }

                    &:before {
                        content: "";
                    }
                }

                .ag-filter-value {
                    cursor: pointer;
                    width: 155px;
                }

                label {
                    padding: $noPadding $padding10;
                    cursor: pointer;
                    margin: $margin10 $noMargin !important;

                    input {
                        display: none;
                    }
                }
            }

            .ag-set-filter-list {
                width: 100%;
                padding-bottom: $padding10;

                .ag-virtual-list-container {
                    position: relative;
                    overflow: hidden;

                    .ag-virtual-list-item {
                        height: 28px !important;
                        position: absolute !important;
                        padding: $noPadding $padding10;

                        .ag-set-filter-item {
                            font-weight: normal !important;
                            cursor: pointer;
                            margin: $noMargin;

                            [type="checkbox"]:not(:checked),
                            [type="checkbox"]:checked,
                            [type="radio"]:not(:checked),
                            [type="radio"]:checked {
                                margin: $noMargin !important;
                            }

                            .ag-filter-value {
                                cursor: pointer;
                                width: 155px;
                            }
                        }
                    }
                }
            }


            .ag-filter-checkbox {
                position: relative;
                display: inline-block;
                width: 18px;
                margin: $margin5;
                margin-right: 14px;

                .ag-icon-checkbox-checked,
                .ag-icon-checkbox-unchecked,
                .ag-icon-checkbox-indeterminate {
                    background: none !important;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 18px;
                        height: 18px;
                        background-color: $whiteColor;
                        border-radius: 3px;
                        border: $greyCBorder;
                        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
                    }

                    &:after {
                        font-family: $fontAwesome;
                        opacity: 1;
                        content: "\f00c";
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        font-size: $iconSizeSM;
                        line-height: 15px;
                        transition: all .2s;
                    }
                }

                .ag-icon-checkbox-unchecked {
                    &:after {
                        opacity: 0;
                        transform: scale(0);
                    }
                }
            }

            .ag-tab-header {
                background-color: #E9E9E9 !important;
                border-top: 1px solid $whiteColor;
                height: 38px;
                display: none;

                .ag-tab {
                    text-align: center;
                    line-height: 35px;
                    display: inline-block;
                    height: 35px;
                    width: 35px;
                    margin: 2px;
                    cursor: pointer;

                    &.ag-tab-selected {
                        background-color: $whiteColor !important;
                        border-right: $lightGreyBorder !important;
                        border-left: $lightGreyBorder !important;
                        border-top: $lightGreyBorder !important;

                        svg {
                            color: #6B6B6B !important;
                        }
                    }

                    svg {
                        color: $whiteColor !important;
                    }
                }
            }

            .ag-tab-body {
                border-top: $lightGreyBorder;
                margin-top: -1px;
                padding: $padding5 $noPadding $noPadding;
            }

            .ag-menu-option-active {
                background-color: #6B6B6B !important;
                color: $whiteColor;
            }
        }

        .ag-tool-panel {
            background-color: #F9F9F9;
            border-right: 0 !important;
            border-top: 1px solid $whiteColor !important;
            border-bottom: 0 !important;
            border-left: $lightGreyBorder !important;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

            .ag-column-select-panel {
                padding: $padding10;


                .ag-column-select-column {
                    //pivot
                    margin: $margin10 $noMargin;
                }
            }
        }

        .ag-body {
            .ag-row-group {
                background-color: #F9F9F9 !important;

                .ag-group-cell {
                    border-left: 0 !important;
                    border-right: 0 !important;

                    &.ag-cell-focus {
                        border: 0 !important;
                    }
                }
            }

            .ag-body-container {
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                overflow-x: hidden;
            }
        }

        [type="checkbox"],
        [type="radio"] {
            &:not(:checked),
            &:checked {
                margin: $noMargin !important;
            }
        }

        [ref="south"] {
            background-color: hsla(0, 0%, 80%, .2);
            box-shadow: inset 0 1px 0 $whiteColor;
            border-top: $lightGreyBorder;
            border-bottom: $lightGreyBorder;
            padding: $padding10;

            @media #{$mobileLandscape} {
                height: 70px;
            }

            &>div {
                height: 30px;
                padding: $noPadding;
            }

            .ag-paging-row-summary-panel {
                display: inline-block;
                margin: 6px $noMargin;

                @media #{$tabletLandscape} {
                    margin: $noMargin;
                }
            }

            .ag-paging-panel span {
                color: #666;
                font-size: $bodyTextSize !important;
                font-weight: normal;

                @media #{$mobileLandscape} {
                    &.ag-paging-row-summary-panel {
                        display: block;
                        clear: both;
                        text-align: center;
                    }

                    &.ag-paging-page-summary-panel {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .ag-paging-page-summary-panel {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            .ag-paging-button {
                background-color: $whiteColor;
                border: $greyCBorder;
                border-radius: 3px;

                &[ref="btFirst"],
                &[ref="btPrevious"],
                &[ref="btNext"],
                &[ref="btLast"] {
                    position: relative;
                    font-size: 0;
                    height: 30px;
                    width: 30px;
                    vertical-align: middle;
                    padding: $noPadding;

                    &:before {
                        font-family: $fontAwesome;
                        font-size: $iconSizeSM;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                &[ref="btFirst"] {
                    margin: $noMargin $margin5 $noMargin $noMargin;

                    &:before {
                        content: "\f100";
                    }
                }

                &[ref="btPrevious"] {
                    margin: $noMargin $margin10 $noMargin $noMargin;

                    &:before {
                        content: "\f104";
                    }
                }

                &[ref="btNext"] {
                    margin: $noMargin $noMargin $noMargin $margin10;

                    &:before {
                        content: "\f105";
                    }
                }

                &[ref="btLast"] {
                    margin: $noMargin $noMargin $noMargin $margin5;

                    &:before {
                        content: "\f101";
                    }
                }
            }

            .ag-paging-button[disabled],
            .ag-paging-button:hover[disabled] {
                background-color: $whiteColor !important;
                border-color: $lightGreyColor !important;
                color: #999 !important;
                cursor: not-allowed;
            }

            .ag-paging-button:focus {
                outline: 0 !important;
            }

            .ag-paging-button:hover {
                background-color: #6B6B6B;
                border: 1px solid #6B6B6B;
                color: $whiteColor;
            }

            .ag-overlay-loading-center,
            .ag-overlay-no-rows-center {
                background-color: $whiteColor;
                border: 1px solid #999 !important;
                border-radius: 5px !important;
                font-size: $bodyTextSize;
                color: #333;
            }
        }

        .checkbox-text {
            margin-left: $margin15;
        }
    }


    @media #{$webView} {
        &.full-grid {
            flex: 1 0 auto !important;
            position: relative;

            .kdx-ag-grid-wrapper {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;

                .stg-theme {
                    height: 100% !important;
                }
            }
        }
    }
}

.sticky-content .sg-theme,
.sg-theme.no-border {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0 !important;
}

.rtl .stg-theme {
    .ag-header-cell,
    .ag-cell,
    .ag-header-cell-text {
        font-size: $textSizeS;
    }

    .ag-header-row {
        .ag-header-cell {
            border-left: $lightGreyBorder;
            border-right: 0;

            .ag-header-cell-label {
                text-align: right;
                padding: $padding10 $padding10 $padding10 $padding35;

                margin-left: $noMargin;
                margin-right: $margin5;
            }

            .ag-header-icon {
                padding: $noPadding $noPadding $noPadding $padding5;
            }
        }
        .ag-header-cell-menu-button {
            right: auto !important;
            left: 0;
        }
    }

    [ref="south"] {
        .ag-paging-button {
            &[ref="btFirst"] {
                margin: $noMargin $noMargin $noMargin $margin5;

                &:before {
                    content: "\f101";
                }
            }

            &[ref="btPrevious"] {
                margin: $noMargin $noMargin $noMargin $margin10;

                &:before {
                    content: "\f105";
                }
            }

            &[ref="btNext"] {
                margin: $noMargin $margin10 $noMargin $noMargin;

                &:before {
                    content: "\f104";
                }
            }

            &[ref="btLast"] {
                margin: $noMargin $margin5 $noMargin $noMargin;

                &:before {
                    content: "\f100";
                }
            }
        }
    }


    .ag-cell-focus,
    .ag-cell-no-focus {
        border-right: 0 !important;
        border-left: 1px dotted $lightGreyColor;
    }

    .ag-cell-focus:last-child,
    .ag-cell-no-focus:last-child {
        // border-left: 0;
    }

    .ag-header-icon {
        i {
            padding: $noPadding $noPadding $noPadding $padding5;
        }
    }
}
