@charset "UTF-8";

/* Footer V1.1.0 */

.kdx-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    background-color: $footerBg;
    color: $lightGreyColor;
    border-top: 1px solid $footerBg;
    height: 30px;
    padding: 6px;
    clear: both;
    z-index: 1111;
    display: block;

    @media #{$tabletLandscape} {
        text-align: center;
    }

    p {
        font-family: $bodyFont;
        font-size: $textSizeXXS;
        text-align: right;
        margin: $noMargin;

        @media #{$tabletLandscape} {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }
    }
}

.rtl .kdx-footer p {
    text-align: left;
}
