@charset "UTF-8";





/* Login V1.1.1 */

%inputFieldIconTpl {
    font-family: $fontAwesome;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    color: #888;
    font-size: 20px;
    border-right: $lightGreyBorder;
    padding: 12px 12px 10px;

    .rtl & {
        left: auto;
        right: 0;
        border-left: $lightGreyBorder;
        border-right-color: transparent !important;
    }
}

.kdx-login {
    .kdx-footer {
        // position: absolute !important;
        z-index: 2000;

        @media #{$mobileLandscape} {
            position: relative !important;
        }
    }

    .kdx-body-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin: $noMargin;
        overflow-y: auto;
        top: 0;

        .kdx-login-container {
            color: $whiteColor;
            text-align: center;
            width: 400px;
            z-index: 1000;
            position: absolute;
            left: 50%;
            top: 45%;
            transform: translate(-50%, -45%);
            overflow-y: hidden;

            @media only screen and (max-height: 480px) {
                top: 0;
                transform: translate(-50%, 0);
            }

            @media #{$mobileLandscape} {
                width: 100%;
                height: 100%;
                border-radius: 0!important;
                top: 0;
                left: 0;
                transform: translate(0);
            }

            .kdx-black-tint {
                position: absolute;
                background-color: rgba(0, 0, 0, .7);
                border-radius: 6px;
                box-shadow: 0 0 8px rgba(0, 0, 0, .3);
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;

                @media #{$mobileLandscape} {
                    border-radius: 0;
                }
            }

            .kdx-login-content {
                overflow-y: auto;
                height: 100%;

                .kdx-title {
                    font-size: $textSizeXXL;
                    padding: 14px $padding10;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;

                    @media #{$mobileLandscape} {
                        background: transparent !important;
                        margin: $margin20 $noMargin $noMargin;
                    }

                    .kdx-login-table {
                        .rtl & {
                            direction: ltr;
                        }

                        .kdx-logo-wrapper {
                            display: inline-block;
                            vertical-align: middle;
                            text-align: left;
                            padding: $noPadding;

                            @media #{$mobileLandscape} {
                                display: block;
                                margin: $noMargin auto;
                            }

                            &.none {
                                width: 0px;

                                &+h1 {
                                    max-width: 350px;
                                }
                            }

                            &.small {
                                width: 45px;

                                &+h1 {
                                    max-width: 315px;
                                }
                            }

                            &.medium {
                                width: 60px;

                                &+h1 {
                                    max-width: 300px;
                                }
                            }

                            &.large {
                                width: 75px;

                                &+h1 {
                                    max-width: 285px;
                                }
                            }

                            &.full {
                                max-width: 300px;
                                padding: $padding20 $noPadding;

                                @media #{$mobileLandscape} {
                                    max-width: 200px !important;
                                }
                            }

                            img {
                                width: 100%;
                                vertical-align: middle;
                                text-align: center;
                            }

                            i {
                                font-size: $iconSizeXXL;
                                display: table-cell;
                            }
                        }

                        h1 {
                            display: inline-block;

                            @media #{$mobileLandscape} {
                                max-width: 100% !important;
                            }
                        }

                        h1 {
                            text-align: left;
                            vertical-align: middle;

                            @media #{$mobileLandscape} {
                                display: block;
                                text-align: center !important;
                                padding: $noPadding;
                            }
                        }
                    }
                }

                .kdx-alert {
                    font-size: $bodyTextSize;
                    border-radius: 0;
                    padding: 12px 8px;
                    color: $whiteColor;
                    margin: $noMargin;
                    position: relative;

                    .rtl & {
                        padding: 12px 8px 12px 28px;
                    }

                    &.danger {
                        background-color: $errorColor;
                        border: 1px solid $errorColor;
                    }

                    &.info {
                        background-color: $infoColor;
                        border: 1px solid $infoColor;
                    }

                    &.success {
                        background-color: $successColor;
                        border: 1px solid $successColor;
                    }


                    span {
                        display: inline-block;
                        width: 90%;
                    }

                    a.close {
                        display: inline-block;
                        position: absolute;
                        right: 10px;
                        top: calc(50% - 16px);

                        .rtl & {
                            right: auto !important;
                            left: 10px;
                        }
                    }
                }

                .kdx-login-form {
                    text-align: center;
                    width: 75%;
                    margin: $noMargin auto;
                    padding: 40px $noPadding;

                    .header-msg {
                        padding-bottom: 24px;
                    }

                    .rtl & {
                        button {
                            margin: $noMargin !important;
                        }
                    }

                    input,
                    select {
                        color: #555;
                        font-weight: 400;
                        width: 100% !important;
                        border: 1px solid transparent !important;
                        padding: 8px $padding10 $padding5 45px !important;
                        font-size: $textSizeS !important;
                        height: 42px !important;

                        .rtl & {
                            padding: 8px 44px $padding5 $padding10 !important;
                        }
                    }

                    select {
                        margin-bottom: $noMargin !important;
                    }

                    .input {
                        position: relative;

                        input {
                            width: 100% important;
                        }

                        i {
                            position: absolute;
                            @extend %inputFieldIconTpl;

                            &.iconSizeS{
                                font-size: 15px;
                                padding-bottom: 15px;
                            }
                        }

                        

                        /*&.text:after {
                            @extend %inputFieldIconTpl;
                            //content: "\f007";
                        }*/
                        
                        /*&.password:after {
                            @extend %inputFieldIconTpl;
                            content: "\f084";
                            padding: 11px $padding10 $padding10 11px;
                        }*/
                        /*&.email:after {
                            @extend %inputFieldIconTpl;
                            content: "\f003";
                        }*/
                    }

                    .kdx-input-select-wrapper {
                        display: block;
                        position: relative;
                        margin-bottom: $margin15;
                        padding: $noPadding !important;
                        font-size: $textSizeS;
                        width: 100% !important;
                        height: 100%;
                        border-color: $whiteColor !important;
                        border-radius: 3px;
                        background-color: $whiteColor;

                        i {
                            font-family: $fontAwesome;
                            font-size: 19px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            display: block;
                            color: #888;
                            padding: 15px 11px 8px;
                            border-right: $lightGreyBorder;

                            .rtl & {
                                left: auto;
                                right: 0;
                                border-left: $lightGreyBorder;
                                border-right-color: transparent !important;
                            }
                        }

                        /*&:before {
                            font-family: $fontAwesome;
                            //content: "\f0ac";
                            position: absolute;
                            left: 0;
                            top: 0;
                            display: block;
                            color: #888;
                            //font-size: $iconSizeSM;
                            padding: 12px 11px 8px;
                            border-right: $lightGreyBorder;

                            .rtl & {
                                left: auto;
                                right: 0;
                                border-left: $lightGreyBorder;
                                border-right-color: transparent !important;
                            }
                        }*/

                        &:after {
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid;
                            color: #555;
                            content: "";
                            height: 0;
                            margin-right: 14px;
                            pointer-events: none;
                            position: absolute;
                            width: 0;
                            right: -5px;
                            top: 48%;

                            .rtl & {
                                left: 12px;
                                right: auto;
                            }
                        }

                        select {
                            background: none;
                            position: relative;
                            border: $greyCBorder;
                            margin-bottom: $margin15;
                            width: 100%;
                            height: 30px;
                            cursor: pointer;
                            appearance: none;
                            border-radius: 3px;

                            &:focus {
                                outline: none !important;
                            }
                        }
                    }

                    .kdx-btn-login {
                        border: 0;
                        width: 100%;
                        font-size: $textSizeM !important;
                        padding: $padding10;
                        height: 42px;
                        margin: $noMargin;
                    }

                    .kdx-forget-password {
                        width: 70%;
                        margin: $noMargin auto;
                        text-decoration: none;
                        text-align: center;
                        font-size: $bodyTextSize;
                        padding-top: 12px;

                        a {
                            color: $whiteColor;
                            text-decoration: none;
                            
                        }

                        a+a {
                            padding-left: $padding10;

                            .rtl & {
                                float: right;
                            }
                        }

                        a:hover {
                            text-decoration: underline;
                        }
                        
                    }
                }
            }
        }
    }
}
