@charset "UTF-8";

/* Measurement V1.0.0 */

.no-margin {
    margin: 0;
}

.margin-top5 {
    margin-top: 5px !important;
}

.margin-top10 {
    margin-top: 10px !important;
}

.margin-top20 {
    margin-top: 20px !important;
}

.margin-top30 {
    margin-top: 30px !important;
}

.margin-left5 {
    margin-left: 5px !important;
}

.margin-left10 {
    margin-left: 10px !important;
}

.margin-left20 {
    margin-left: 20px !important;
}

.margin-left30 {
    margin-left: 30px !important;
}

.margin-bottom5 {
    margin-bottom: 5px !important;
}

.margin-bottom10 {
    margin-bottom: 10px !important;
}

.margin-bottom20 {
    margin-bottom: 20px !important;
}

.margin-bottom30 {
    margin-bottom: 30px !important;
}

.margin-right5 {
    margin-right: 5px !important;
}

.margin-right10 {
    margin-right: 10px !important;
}

.margin-right20 {
    margin-right: 20px !important;
}

.margin-right30 {
    margin-right: 30px !important;
}

.no-padding {
    padding: 0;
}

.padding-top5 {
    padding-top: 5px !important;
}

.padding-top10 {
    padding-top: 10px !important;
}

.padding-top20 {
    padding-top: 20px !important;
}

.padding-top30 {
    padding-top: 30px !important;
}

.padding-left5 {
    padding-left: 5px !important;
}

.padding-left10 {
    padding-left: 10px !important;
}

.padding-left20 {
    padding-left: 20px !important;
}

.padding-left30 {
    padding-left: 30px !important;
}

.padding-bottom5 {
    padding-bottom: 5px !important;
}

.padding-bottom10 {
    padding-bottom: 10px !important;
}

.padding-bottom20 {
    padding-bottom: 20px !important;
}

.padding-bottom30 {
    padding-bottom: 30px !important;
}

.padding-right5 {
    padding-right: 5px !important;
}

.padding-right10 {
    padding-right: 10px !important;
}

.padding-right20 {
    padding-right: 20px !important;
}

.padding-right30 {
    padding-right: 30px !important;
}
