@charset "UTF-8";

/* Search V1.1.0 */

.kdx-search {
    .search-page-wrapper {
        position: relative;

        @media #{$webView} {
            position: absolute;
            margin: $noMargin;
            top: 70px;
            left: 0;
            right: 0;
            bottom: 0;
        }


        .search-page-box {
            @media #{$webView} {
                width: 500px;
                text-align: center;
                left: 50%;
                top: 40%;
                position: absolute;
                transform: translate(-50%, -50%);
                padding: $padding15;
            }

            @media #{$tabletPortrait} {
                width: 100%;
            }

            .search-title {
                text-align: center;
            }

            .search-body {
                padding: $padding10 $padding15;

                input {
                    width: 100% !important;
                }
            }

            .search-buttons {
                text-align: center;
            }

            .kdx-input-select-wrapper {
                position: relative;
                padding: $noPadding;
                height: 30px;
                margin-bottom: $noMargin;
                width: 100% !important;

                select {
                    background: none;
                    position: relative;
                    padding: $padding5 $padding25 $padding5 $padding10;
                    border: $greyCBorder;
                    margin-bottom: $margin15;
                    width: 100%!important;
                    height: 30px;
                    cursor: pointer;
                    appearance: none;
                    border-radius: 3px;

                    &:focus {
                        outline: none !important;
                    }
                }

                &:after {
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid;
                    color: #555;
                    content: "";
                    height: 0;
                    margin-right: 14px;
                    pointer-events: none;
                    position: absolute;
                    width: 0;
                    right: -5px;
                    top: 48%;
                }
            }
        }
    }
}

.rtl .kdx-search {

    .kdx-input-select-wrapper {
        select {
            padding: $padding5 $padding10 $padding5 $padding25 !important;
        }

        &:after {
            left: 12px !important;
            right: auto !important;
        }
    }
}
