@charset "UTF-8";

@import "../general/variables.scss";
@import "../general/classes.scss";

/* Slider v.1.0.0 */

// This refers to the thickness of the slider. On a horizontal slider this is the height, on a
// vertical slider this is the width.
$kdx-slider-thickness: 12px !default;
$kdx-slider-min-size: 120px !default;
$kdx-slider-padding: 8px !default;
$kdx-slider-disabled-background-color: #999 !important;

$kdx-slider-track-thickness: 2px !default;
$kdx-slider-thumb-size: 12px !default;
$kdx-slider-thumb-size-active: 18px !default;
$kdx-slider-thumb-border-width: 3px !default;
$kdx-slider-thumb-before-size-active: 16px !important;

$kdx-slider-thumb-buffer-width: $kdx-slider-thumb-size + 30px !default;
$kdx-slider-thumb-buffer-width-active: $kdx-slider-thumb-size-active + 30px !default;

$kdx-slider-start-label-height: 18px !default;

// Easing Curves
$kdx-slider-swift-ease-out-duration: 400ms !default;
$kdx-slider-swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$kdx-slider-swift-ease-out: all $kdx-slider-swift-ease-out-duration $kdx-slider-swift-ease-out-timing-function !default;

@mixin cursor-grab {
    cursor: -webkit-grab;
    cursor: grab;
}

@mixin cursor-grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

@mixin backface-visibility($value) {
    -webkit-backface-visibility: $value;
    backface-visibility: $value;
}
/* stylelint-enable */

.example-slider-size {
    width: 50%;

    @media #{$mobileLandscape} {
        width: 100%;
    }
}

.kdx-slider {

    &.kdx-slider-has-start-label {
        .kdx-slider-wrapper {
            position: relative;
            height: $kdx-slider-start-label-height * 2 +  $kdx-slider-thickness;

            .kdx-label-container {
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: absolute;
                bottom: 0;
            }
        }
    }

    .kdx-label {
        font-size: $bodyTextSize;
        height: $kdx-slider-start-label-height;
        display: inline-block;
    }

    .kdx-slider-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex: 1 1;
        align-items: center;
        padding: $kdx-slider-padding;

        &.kdx-slider-container-vertical {
        	flex-wrap: wrap;
        	flex-direction: column;
        }
    }


    // Disabled slider.
    .kdx-slider-disabled {
        .kdx-slider-thumb {
            background-color: $kdx-slider-disabled-background-color;
        }

        .kdx-slider-track-fill {
            background-color: $kdx-slider-disabled-background-color;
        }
    }


    .kdx-slider-content {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        outline: none;
        vertical-align: middle;
        width: 100%;
    }  

    .kdx-slider-content-wrapper {
        position: absolute;
    }

    .kdx-slider-track-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    .kdx-slider-track-fill {
        position: absolute;
        transform-origin: 0 0;
        transition: transform $kdx-slider-swift-ease-out-duration $kdx-slider-swift-ease-out-timing-function,
                background-color $kdx-slider-swift-ease-out-duration $kdx-slider-swift-ease-out-timing-function;
    }

    .kdx-slider-track-background {
        position: absolute;
        transform-origin: 100% 100%;
        background-color: #DDD;
    }

    .kdx-slider-thumb-container {
        position: absolute;
        z-index: 1;
        transition: transform $kdx-slider-swift-ease-out-duration $kdx-slider-swift-ease-out-timing-function;
    }

    .kdx-thumb-buffer-container {
        position: absolute;
        display: flex;
        justify-content: center;
    }

    %_kdx-slider-cursor {
        .kdx-slider:not(.kdx-slider-disabled) & {
            @include cursor-grab;
        }

        .kdx-slider:not(.kdx-slider-disabled) &:active,
        .kdx-slider-sliding:not(.kdx-slider-disabled) & {
            @include cursor-grabbing;
        }
    }

    .kdx-slider-thumb {
        @extend %_kdx-slider-cursor;

        width: $kdx-slider-thumb-size;
        height: $kdx-slider-thumb-size;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform $kdx-slider-swift-ease-out-duration $kdx-slider-swift-ease-out-timing-function,
    }

    .kdx-slider-content {
        &:not(.kdx-slider-is-mobile) {
            .kdx-thumb-buffer-container {
                width: $kdx-slider-thumb-size;
                height: $kdx-slider-thumb-size;
            }
        }
    }


    // Slider sliding state.
    .kdx-slider-sliding {
        .kdx-slider-track-fill,
        .kdx-slider-track-background,
        .kdx-slider-thumb-container {
            // Must use `transition-duration: 0ms` to disable anikdxion rather than `transition: none`.
            // On Mobile Safari `transition: none` causes the slider thumb to appear stuck.
            transition-duration: 0ms;
        }
    }


    // Inverted slider.
    .kdx-slider-axis-inverted {
        .kdx-slider-track-fill {
            transform-origin: 100% 100%;
        }

        .kdx-slider-track-background {
            transform-origin: 0 0;
        }
    }

    // Horizontal slider.
    .kdx-slider-horizontal {
        height: $kdx-slider-thickness;
        min-width: $kdx-slider-min-size;

        .kdx-slider-content-wrapper {
            height: $kdx-slider-track-thickness;
            top: ($kdx-slider-thickness - $kdx-slider-track-thickness) / 2;
            left: $kdx-slider-padding;
            right: $kdx-slider-padding;
        }

        .kdx-slider-content-wrapper::after {
            height: $kdx-slider-track-thickness;
            border-left-width: 2px;
            right: 0;
            top: 0;
        }

        .kdx-slider-track-wrapper {
            height: $kdx-slider-track-thickness;
            width: 100%;
        }

        .kdx-slider-track-fill {
            height: $kdx-slider-track-thickness;
            width: 100%;
            transform: scaleX(0);
        }

        .kdx-slider-track-background {
            height: $kdx-slider-track-thickness;
            width: 100%;
        }

        .kdx-slider-thumb-container {
            width: 100%;
        }

        .kdx-thumb-buffer-container {
            right: -$kdx-slider-thumb-size / 2;
            top: $kdx-slider-track-thickness / 2 - $kdx-slider-thumb-size / 2;
        }

        &.kdx-slider-is-mobile {
            .kdx-thumb-buffer-container {
                width: $kdx-slider-thumb-buffer-width;
                height: $kdx-slider-thickness / 2 + $kdx-slider-thumb-size;
                right: -$kdx-slider-thumb-buffer-width / 2;
                top: $kdx-slider-track-thickness / 2 - $kdx-slider-thumb-size / 2;
            }
        }
    }

    // Vertical slider.
    .kdx-slider-vertical {
        width: $kdx-slider-thickness;
        min-height: $kdx-slider-min-size;

        .kdx-slider-content-wrapper {
            width: $kdx-slider-track-thickness;
            top: $kdx-slider-padding;
            bottom: $kdx-slider-padding;
            left: ($kdx-slider-thickness - $kdx-slider-track-thickness) / 2;
        }

        .kdx-slider-content-wrapper::after {
            width: $kdx-slider-track-thickness;
            border-top-width: 2px;
            bottom: 0;
            left: 0;
        }

        .kdx-slider-track-wrapper {
            height: 100%;
            width: $kdx-slider-track-thickness;
        }

        .kdx-slider-track-fill {
            height: 100%;
            width: $kdx-slider-track-thickness;
            transform: scaleY(0);
        }

        .kdx-slider-track-background {
            height: 100%;
            width: $kdx-slider-track-thickness;
        }

        .kdx-slider-thumb-container {
            height: 100%;
        }

        .kdx-slider-thumb {
            @include backface-visibility(hidden);
        }

        .kdx-thumb-buffer-container {
            bottom: -$kdx-slider-thumb-size / 2;
            right: -$kdx-slider-thumb-size / 2 - $kdx-slider-track-thickness / 2;
            align-items: center;
        }  

        &.kdx-slider-is-mobile {
            .kdx-thumb-buffer-container {
                height: $kdx-slider-thumb-buffer-width;
                bottom: -$kdx-slider-thumb-buffer-width / 2;
                right: -$kdx-slider-thumb-size / 2 - $kdx-slider-track-thickness / 2;
                align-items: center;
            }
        }
    }

    .kdx-slider-has-range {
        &.kdx-slider-hovered {

            .kdx-selected-thumb {
                &.kdx-thumb-buffer-container {
                    width: $kdx-slider-thumb-size-active;
                    height: $kdx-slider-thumb-size-active;
                }
            }

            &.kdx-slider-horizontal {
                .kdx-selected-thumb {
                    &.kdx-thumb-buffer-container {
                        right: -$kdx-slider-thumb-size-active/ 2;
                        top: $kdx-slider-track-thickness / 2 - $kdx-slider-thumb-size-active / 2;
                    }
                }
            }

            &.kdx-slider-vertical {
                .kdx-selected-thumb {
                    &.kdx-thumb-buffer-container {
                        bottom: -$kdx-slider-thumb-size-active / 2;
                        right: -$kdx-slider-track-thickness / 2 - $kdx-slider-thumb-size-active / 2;
                    }
                } 
            }

            &.kdx-slider-is-mobile {
                &.kdx-slider-horizontal {
                    .kdx-selected-thumb {
                        &.kdx-thumb-buffer-container {
                            width: $kdx-slider-thumb-buffer-width;
                            height: $kdx-slider-thickness / 2 + $kdx-slider-thumb-size-active;
                            right: -$kdx-slider-thumb-buffer-width / 2;
                            top: $kdx-slider-track-thickness / 2 - $kdx-slider-thumb-size-active / 2;
                        }
                    }
                }

                &.kdx-slider-vertical {
                    .kdx-selected-thumb {
                        &.kdx-thumb-buffer-container {
                            height: $kdx-slider-thumb-buffer-width-active;
                            width: $kdx-slider-thumb-size-active;
                            bottom: -$kdx-slider-thumb-buffer-width-active / 2;
                            right: -$kdx-slider-track-thickness / 2 - $kdx-slider-thumb-size-active / 2;
                        }
                    } 
                }
            }

            .kdx-selected-thumb {
                .kdx-slider-thumb {
                    width: $kdx-slider-thumb-size-active;
                    height: $kdx-slider-thumb-size-active;

                    &:before {
                        content: "";
                        display: block;
                        width: $kdx-slider-thumb-before-size-active;
                        height: $kdx-slider-thumb-before-size-active;
                        border-radius: 50%;
                        border: 3px solid $whiteColor;
                    }
                }
            }
        }
    }
}


// Slider in RTL languages.
[dir='rtl'] {
    .kdx-slider {
        .kdx-slider-content-wrapper::after {
            left: 0;
            right: auto;
        }

        .kdx-slider-horizontal {

            .kdx-slider-track-fill {
                transform-origin: 100% 100%;
            }

            .kdx-slider-track-background {
                transform-origin: 0 0;
            }

            &.kdx-slider-axis-inverted {
                .kdx-slider-track-fill {
                    transform-origin: 0 0;
                }

                .kdx-slider-track-background {
                    transform-origin: 100% 100%;
                }
            }
        }

        .kdx-slider-vertical {
            .kdx-thumb-buffer-container {
                right: -$kdx-slider-thumb-size / 2 + $kdx-slider-track-thickness / 2;
            }
        }

        .kdx-slider-has-range {
            &.kdx-slider-hovered {
                &.kdx-slider-vertical {
                    .kdx-selected-thumb {
                        &.kdx-thumb-buffer-container {
                            right: $kdx-slider-track-thickness / 2 - $kdx-slider-thumb-size-active / 2;
                        }
                    } 
                }
            }
        }
    }
}
