@charset "UTF-8";

@import "../general/variables.scss";
@import "../general/classes.scss";

/* Table V1.1.0 */

.kdx-table {
    .stg-theme {
        .ag-tool-panel {
            display: none;
        }
    }
}

.table-responsive {
    background-color: $whiteColor;
    border: 0 !important;
    position: relative;
}

.kdx-table-wrapper {
    position: relative;
    margin-bottom: $margin20;
}

.vertical-align-top td,
.vertical-align-top {
    vertical-align: top !important;
}

.vertical-align-bottom td,
.vertical-align-bottom {
    vertical-align: bottom !important;
}

.vertical-align-middle td,
.vertical-align-middle {
    vertical-align: middle !important;
}

.table-scroll-y {
    border: $greyCBorder !important;
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    max-height: 400px;
    overflow-y: scroll;
}

.table {
    display: table;
    width: 100%;
    border-collapse: separate;
    text-shadow: 1px 1px 0 $whiteColor;
    border-top: 0;
    border-left: 0;
    border-radius: 3px;
    padding: $noPadding;
    margin: $noMargin;

    tbody {
        display: table-row-group;
        border-left: 1px solid $whiteColor;
        border-right: 1px solid $whiteColor;
        border: 0;
    }

    tr {
        display: table-row;
        border-collapse: separate;
        white-space: nowrap;
        cursor: default;
        margin: $noMargin;
        padding: $noPadding;
        border: 0;

        td,
        th {
            display: table-cell;
            font-size: $bodyTextSize;
            border-bottom: $lightGreyBorder;
            border-top: 0;
        }

        th {
            background-color: rgba(204, 204, 204, 0.3) !important;
            font-weight: bold;
            box-shadow: inset 0 1px 0 $whiteColor;
        }
    }

    &>tbody>tr>td,
    &>tbody>tr>th,
    &>tfoot>tr>td,
    &>thead>tr>th {
        position: relative;
        padding: $padding10;
        vertical-align: middle;
    }

    &>thead:first-child>tr:first-child>th {
        border-top: $lightGreyBorder;
    }

    &> :first-child> :first-child> :first-child {
        border-left: $lightGreyBorder;
        border-radius: 0;
    }

    &> :first-child> :first-child> :last-child {
        border-right: $lightGreyBorder;
        border-radius: 0;
    }

    .table-icons {
        text-align: center;
    }

    .table-icons a {
        margin: $margin5;
        display: inline;
        text-decoration: none;
    }
}

.table-curved {
    &> :first-child> :first-child> :first-child {
        border-top-left-radius: 5px;
    }

    &> :first-child> :first-child> :last-child {
        border-top-right-radius: 5px;
    }
}

.table-lined {
    .body-header {
        background-color: rgba(204, 204, 204, 0.2) !important;
        border-color: $lightGreyColor !important;
        font-weight: bold;
    }

    th,
    td {
        border-right: $lightGreyBorder;
    }

    td:first-child {
        border-left: $lightGreyBorder;
    }
}

.align-top {
    td {
        vertical-align: top !important;
    }
}

.align-middle {
    td {
        vertical-align: middle !important;
    }
}

.rtl {
    .table {
        &> :first-child> :first-child> :first-child {
            border-left: 0 !important;
            border-right: $lightGreyBorder;
        }

        &> :first-child> :first-child> :last-child {
            border-right: 0 !important;
            border-left: $lightGreyBorder;
        }
    }

    .table-curved {
        &> :first-child> :first-child> :first-child {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 5px;
        }

        &> :first-child> :first-child> :last-child {
            border-top-right-radius: 0;
            border-top-left-radius: 5px;
        }
    }
}
