<div class="main-wrapper">
  <div class="content-wrapper">
    <kd-breadcrumb [config]="breadcrumbList"></kd-breadcrumb>
    <kd-pageheader [config]="pageHeader" [api]="pageHeaderApi"></kd-pageheader>
    <div class="content-area">
      <div class="content">
        <kd-tabs [config]="tabsList" type="router">
          <router-outlet></router-outlet>
        </kd-tabs>
      </div>
      <kd-footer enableFloat="true"></kd-footer>
    </div>
  </div>
</div>
