<kd-progressloader *ngIf="isValues" configtype="small-spinner" [configvalue]="_smallLoaderValue"></kd-progressloader>

<kd-table [config]="tableConfig" [row]="_row" [api]="_tableApi" [column]="tableColumns" *ngIf="!isValues"></kd-table>
