<kd-progressloader configtype="small-spinner" [configvalue]="smallLoaderValue" *ngIf="loading"></kd-progressloader>

<kd-modal [config]="modalConfig"></kd-modal>

<kd-view displayType="view" [inputData]="questionBase" [api]="api" *ngIf="showForm"></kd-view>
