<kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="smallLoaderValue"></kd-progressloader>

<kd-breadcrumb [config]="breadcrumbsList" [api]="breadcrumbsApi"></kd-breadcrumb>

<kd-table
  [config]="tableConfig"
  [row]="tableRows"
  [column]="tableColumns"
  [api]="tableApi"
  *ngIf="showTable"
></kd-table>

<!-- <div *ngFor="let item of tempList">{{ item['id'] }} - {{ item['code'] }} - {{ item['name'] }} -> &nbsp;</div> -->
