<kd-splitter class="has-header has-footer main">
  <kd-pane size="10%" max="30%" min="2%">
    <kd-leftmenu [config]="_leftemenuList"></kd-leftmenu>
  </kd-pane>
  <kd-pane>
    <ng-template ngbModalContainer></ng-template>
    <kd-alert></kd-alert>
    <kd-header [config]="headerConfig" *ngIf="!loading"></kd-header>
    <router-outlet></router-outlet>
  </kd-pane>
</kd-splitter>
