<kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="_smallLoaderValue"></kd-progressloader>

<kd-table [config]="tableConfig" [api]="_tableApi" [column]="tableColumns" *ngIf="!Isvalue"></kd-table>
  