<kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="_smallLoaderValue"></kd-progressloader>
<kd-filter #searchForm [inputData]="filterInputs" (valueUpdate)="detectValue($event)"></kd-filter>
<kd-table [row]="_row" [column]="tableColumns" [config]="tableConfig" [api]="_tableApi" *ngIf="showTable"></kd-table>
