<kd-progressloader
  *ngIf="loading"
  configtype="small-spinner"
  [configvalue]="_smallLoaderValue"
></kd-progressloader>
<kd-modal [config]="modalConfig"></kd-modal>
	
<kd-view displayType='view' [inputData]='_questionBase' [api]='api' ></kd-view>
