<kd-progressloader configtype="small-spinner" [configvalue]="_smallLoaderValue" *ngIf="loading"></kd-progressloader>

<kd-modal [config]="modalConfig"></kd-modal>

<kd-view displayType="view" [inputData]="questionBase" [api]="api"></kd-view>
