<kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="_smallLoaderValue"></kd-progressloader>

<kd-view
  displayType="form"
  [inputData]="_questionBase"
  [button]="_formButtons"
  [api]="api"
  (submitEvent)="submit($event)"
  (resetEvent)="cancel()"
  *ngIf="showForm"
></kd-view>

<!-- <kd-table [row]="tableRow" [column]="tableColumns" [config]="tableConfig" [api]="tableApi" *ngIf="showTable"></kd-table> -->
