<kd-progressloader configtype="small-spinner" [configvalue]="smallLoaderValue" *ngIf="loading"></kd-progressloader>

<!-- <kd-view displayType="form" [inputData]="questionBase" [api]="api" *ngIf="showForm"></kd-view> -->
