/* KORDIT FONT PACK v.1.0.11 */

$icomoon-font-path: "kordit/fonts" !default;

$kd-add-multiple: "\e916";
$kd-user: "\e915";
$kd-close-round: "\e913";
$kd-close: "\e914";
$kd-tab: "\e912";
$kd-add-tab: "\e911";
$kd-validate-row: "\e90f";
$kd-validate-col: "\e910";
$kd-alphabet: "\e906";
$kd-alphanumeric: "\e907";
$kd-numeric: "\e908";
$kd-add-column: "\e909";
$kd-add-row: "\e90a";
$kd-header-row-col: "\e90b";
$kd-header-row: "\e90c";
$kd-header-col: "\e90d";
$kd-remove: "\e90e";
$kd-download-success: "\e905";
$kd-download-fail: "\e904";
$kd-sort-alphabet-asc: "\e902";
$kd-sort-alphabet-desc: "\e903";
$kd-sort-date-desc: "\e900";
$kd-sort-date-asc: "\e901";
$kd-shipment: "\e800";
$kd-header: "\e642";
$kd-rows: "\e643";
$kd-table: "\e644";
$kd-draggable-line: "\e641";
$kd-draggable: "\e640";
$kd-reorder: "\e63f";
$kd-guardian: "\e63d";
$kd-dropout: "\e63a";
$kd-transfer: "\e63b";
$kd-graduate: "\e63c";
$kd-reject: "\e638";
$kd-approve: "\e639";
$kd-compile: "\e63e";
$kd-404-error: "\e600";
$kd-403-error: "\e636";
$kd-role: "\e637";
$kd-preview: "\e601";
$kd-staff: "\e602";
$kd-institutions: "\e603";
$kd-students: "\e604";
$kd-dashboard_icon: "\e605";
$kd-upload-download: "\e606";
$kd-export: "\e607";
$kd-import: "\e608";
$kd-download: "\e609";
$kd-upload: "\e60a";
$kd-text: "\e60b";
$kd-resolution: "\e60c";
$kd-html: "\e60d";
$kd-audio: "\e60e";
$kd-iframe: "\e60f";
$kd-video: "\e610";
$kd-image: "\e611";
$kd-y-axis: "\e612";
$kd-x-axis: "\e613";
$kd-redo: "\e614";
$kd-undo: "\e615";
$kd-save: "\e616";
$kd-label: "\e617";
$kd-series: "\e618";
$kd-legend: "\e619";
$kd-grid2: "\e61a";
$kd-axis: "\e61b";
$kd-customize: "\e61c";
$kd-title: "\e61d";
$kd-check: "\e61e";
$kd-cross: "\e61f";
$kd-back: "\e620";
$kd-lists: "\e621";
$kd-edit: "\e622";
$kd-trash: "\e623";
$kd-add: "\e624";
$kd-data_collection_icon: "\e625";
$kd-openemis: "\e626";
$kd-administration: "\e627";
$kd-web_icon: "\e628";
$kd-results: "\e629";
$kd-reports: "\e62a";
$kd-play: "\e62b";
$kd-packages: "\e62c";
$kd-mobile_icon: "\e62d";
$kd-items: "\e62e";
$kd-data_management_icon: "\e62f";
$kd-ellipsis: "\e630";
$kd-grid: "\e631";
$kd-arrow-down: "\e632";
$kd-arrow-up: "\e633";
$kd-arrow-last: "\e634";
$kd-arrow-first: "\e635";

