<kd-progressloader configtype="small-spinner" [configvalue]="smallLoader" *ngIf="loading"></kd-progressloader>

<kd-view displayType="view" [inputData]="questionBase" [api]="api" #detailsView></kd-view>
