<kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="_smallLoaderValue"></kd-progressloader>

<kd-view displayType="view" [inputData]="questionBase" [api]="api" *ngIf="!loading"></kd-view>
