<kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="smallLoaderValue"></kd-progressloader>

<kd-view displayType="view" [inputData]="questionBase" [api]="api" *ngIf="showView"></kd-view>
