<kd-progressloader *ngIf="loading" [configvalue]="_smallLoaderValue" configtype="small-spinner"></kd-progressloader>
<div class="main-wrapper">
  <div class="content-wrapper">
    <kd-breadcrumb [config]="breadcrumbList"></kd-breadcrumb>
    <kd-pageheader [config]="pageheader" [api]="_pageHeaderApi"></kd-pageheader>
    <div class="content-area">
      <div class="content">
        <kd-view
          #searchForm
          displayType="form"
          [inputData]="_questionBase"
          [button]="_formButtons"
          (submitEvent)="submitVal($event)"
          (resetEvent)="cancel()"
          (detectFrom)="detectValue($event)"
          [api]="api"
        ></kd-view>
      </div>
    </div>
  </div>
</div>
