<div class="main-wrapper">
  <div class="content-wrapper">
    <kd-breadcrumb [config]="breadcrumbList"></kd-breadcrumb>
    <kd-pageheader [config]="pageHeader" [api]="pageHeaderApi"></kd-pageheader>
    <div class="content-area">
      <kd-tabs [config]="tabsList" type="router" (activeState)="selectedTab($event)">
        <router-outlet></router-outlet>
      </kd-tabs>
      <kd-footer enableFloat="true"></kd-footer>
    </div>
  </div>
</div>
