<kd-mini-dashboard [config]="miniDashboardConfig" [input]="miniDashboardData" >
</kd-mini-dashboard>
<div style="margin-top: 10px;"></div>
<kd-table
[row]="_row"
[column]="_column"
[config]="_config"
[api]="_tableApi"
*ngIf='!loading'></kd-table>

<kd-view displayType='form' [inputData]='fileinput' [button]='button' (buttonEvent)='_buttonEvent($event)' >
</kd-view>
