<!-- <kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="_smallLoaderValue"></kd-progressloader> -->

<kd-tabs [config]="tabsListRouter" type="router">
  <router-outlet></router-outlet>
</kd-tabs>

<!-- <kd-view displayType='view' [inputData]='_questionBase' [api]='api' *ngIf='!loading'></kd-view> -->
