.omr { border:1px black solid; margin-top:50px; padding:30px; }
.exam-details { margin-top:200px; width:800px; margin-left:500px; }
.option { background-color:white; border-radius:50%; width:20px; height:10px; }
.omr-content { padding-top:50px; margin:50px; }
.pg54-content { margin:50px; }