<kd-progressloader configtype="small-spinner" [configvalue]="_smallLoaderValue" *ngIf="loading"></kd-progressloader>

<kd-table [config]="tableConfig" [row]="_row" [api]="_tableApi" [column]="tableColumns" *ngIf="showTable"></kd-table>
