<kd-progressloader configtype="small-spinner" [configvalue]="_smallLoaderValue" *ngIf="loading"></kd-progressloader>

<div class="main-wrapper">
  <div class="content-wrapper">
    <kd-breadcrumb [config]="breadcrumbList"></kd-breadcrumb>
    <kd-pageheader [config]="pageHeader" [api]="pageHeaderApi"></kd-pageheader>
    <div class="content-area">
      <div class="content">
        <kd-filter #filters [inputData]="filterInputs" (valueUpdate)="detectValue($event)"></kd-filter>
        <kd-table
          [config]="tableConfig"
          [row]="tableRows"
          [column]="tableColumns"
          [api]="tableApi"
          *ngIf="!loading"
        ></kd-table>
      </div>
      <kd-footer enableFloat="true"></kd-footer>
    </div>
  </div>
</div>
