<kd-progressloader *ngIf="loading" configtype="small-spinner" [configvalue]="_smallLoaderValue"></kd-progressloader>
<kd-table [config]="tableConfig" [row]="_row" [api]="_tableApi" [column]="tableColumns" *ngIf="!loading"></kd-table>
